# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# IDE
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Data outputs
data/raw/*
data/staging/*
data/curated/*
!data/raw/.gitkeep
!data/staging/.gitkeep
!data/curated/.gitkeep
